<div class="container">
  <div class="app-level-alert">
    <ng-alert
      [(message)]="message"
      [dismissable]="true"
      [closeType]="closeTypes.TIMES"
    ></ng-alert>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <app-list-user></app-list-user>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <app-create-user></app-create-user>
      </div>
    </div>
  </div>
</div>
